* {
	font-family: Arial, Helvetica, sans-serif;
}

.dataGroup {
	border: 1px dashed #000;
	padding: 10px;
	margin: 20px;
}

table {
	margin-bottom: 20px;
}

tr {
	padding: 5px;
}

th,
td {
	text-align: left;
	padding: 8px;
}

table tbody th {
	width: 300px;
	background-color: #eee;
}

table tbody td {
	width: 100px;
	background-color: lightyellow;
}
